#landingHeader {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 12.57%, rgba(0, 0, 0, 0) 76.45%, #000000 98.11%),
        url("/landing/header.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
        background: radial-gradient(50% 50% at 50% 50%, #000000c9 21.63%, rgba(0, 0, 0, 0) 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 602px;
        width: 834px;
        gap: 32px;
        h1 {
            font-size: 48px;
        }
        p {
            width: 436px;
            text-align: center;
            font-weight: 200;
            line-height: 1.2;
        }
        a {
            background-color: #E0F600;
            padding: 16px 32px;
            color: #000000;
            border-radius: 40px;
        }
    }
}